@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Handjet&display=swap');

*{
    font-family: 'Handjet', cursive;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
:root{
    --main-color: #ff401f;
    --text-color: #fff;
    --shadon: #e7121c;
    --bg-color: #121214;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
    --border:
    border-width: 2px,
    border-style: dashed,
    border-color: #0F0;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
*::selection {
    background: rgb(255, 94, 0);
    color: red;
}

/* Estilo do corpo */
body {
    color: var(--text-color);
    animation-name: cores;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* Animação das cores de fundo */
@keyframes cores {
    0% { background: #000000; }
    25% { background: #1c1d1d; }
    50% { background: #1C1C1C; }
    75% { background: #1c1d1d; }
    100% { background: #000000; }
}

/* Estilo do cabeçalho */
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    animation-name: cores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
/* Estilo do logotipo */
.logo {
    animation: go-back 10s infinite alternate;
}
@keyframes go-back {
    from {
      transform: translateX(50px);
    }
    to {
      transform: translateX(0);
    }
  }


