@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');

* {
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
*::selection {
    background: rgb(255, 94, 0);
    color: red;
}
.titl{
    text-align: center;
    color:#e93a05;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.titl p{
    font-size: 2rem; 
    color: antiquewhite;
}

.titl span{
    text-transform: uppercase;
}


body {
    background:url(../images/ha_black.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
  height: 100vh;
    font-family:'Lato', Helvetica, Arial;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
    background-attachment: fixed;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    width: 60%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#creditCardButton,#debitCardButton,#cashButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmOrderButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28A745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.models {
    display:none;
}

header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    background-color:#241f1f;
    display:flex; /* none; */
    justify-content:space-between; /* flex-end; */
    align-items: center;
}

header h1 {
    margin-left: 1rem;
    color: #fff;
}

.menu-open {
    margin-right: 15px;
    font-size: 26px;
    background-color: #585353;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-open span {
    margin-right:10px;
}

.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

aside {
    background-color:#caab86;
    width:0vw;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .2s;
    overflow-x:hidden;
}
.modal-content{
    background-color:#caab86;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .2s;
}
.order-summary{
    width: 100%;
  border-bottom: 1px solid #aa0404;
}
aside.show {
    width:25vw;
}

.cart--area {
    margin-top: 30px; /* ajuste */
    padding:20px;
}

.cart--area h1 {
    display: relative;
}

main {
    flex:1;
    padding:20px;
    margin-top:60px;
}

h1, h2 {
    font-family:'Hepta Slab', Helvetica, Arial;
    text-align: center;
    color: #CCC;
}

.menu-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.2rem;
}

.lanche-item {
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}

.lanche-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}

.lanche-item--img {
    width: 250px;
    height:200px;
    background-color:#EEE;
    border-radius:10%;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
   border: 4px solid transparent;
   border-radius: 8px;
   cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);  
}

.lanche-item--img img {
    width:100%;
    height:80%;
    border-radius:10%;
}

.lanche-item--add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#d32f2f;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}

.lanche-item a:hover .lanche-item--add {
    background-color:#b71c1c;
}

.lanche-item--price {
    font-size:15px;
    color:#ffffff;
    margin-top:5px;
}

.lanche-item--name {
    font-size:20px;
    font-weight: bold;
    color:#f83f07;
    margin-top:5px;
}

.lanche-item--desc {
    font-size:13px;
    color:#fffcfc;
    margin-top:10px;
    font-weight: bold;
}

.menuWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
    
}

.menuWindowBody {
    width:900px;
    background-color:#423d3d;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
    
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
   border: 5px solid transparent;
   border-radius: 8px;
   cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);  
}

.lancheBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.lancheBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}

.lancheBig img {
    height:200px;
    width:auto;
}

.Descricao {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}

.Descricao h1 {
    margin-top:50px;
}

.Descricao .Descricao--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
    font-weight: bold;
}

.Descricao--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}

.Descricao--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}

.Descricao--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}

.Descricao--size:hover {
    background-color:#CCC;
}

.Descricao--size.selected {
    background-color:#df460a;
    color:#FFF;
}

.Descricao--size.selected span {
    color:#D6D6D6;
}

.Descricao--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}

.Descricao--price {
    display:flex;
    align-items:center;
}

.Descricao--actualPrice {
    font-size:28px;
    margin-right:30px;
    color: #CCC;
    font-weight: bold;
}

.Descricao--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.Descricao--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.Descricao--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.Descricao--addButton {
    margin-top:30px;
    padding:10px 14px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}

.Descricao--addButton:hover {
    background-color:#0c5719;
}

.Descricao--cancelButton {
    display:inline-block;
    cursor:pointer;
    margin-top:30px;
    padding:10px 14px;
    border-radius:20px;
    background-color:#d4002e;
    color:#FFF;
    margin-right:30px;
}

.Descricao--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
    color: #CCC;
    font-weight: bold;
}

.cart {
    margin-bottom:20px;
}

.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}

.cart--item img {
    width:40px;
    height:40px;
    margin-right:20px;
}

.cart--item-nome {
    flex:1;
}

.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #d32f2f;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}

.cart--finalizar {
    padding:20px 20px;
    border-radius:20px;
    background-color:#089213;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}

.cart--finalizar:hover {
    background-color:#cc3608;
    cursor:pointer;
}

@media (max-width:1000px) {
    .menu-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .menu-area {
        display:block;
    }
    .lanche-item{
        max-width:100%;
    }
    header {
        display:flex;
    }
    /*
    main {
        padding-top:60px;
    }
    */
    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cart--area {
        width:100vw;
    }

    .menu-closer {
        display:block;
    }

    .menuWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .menuWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .lancheBig img {
        width: 75%;
        height: auto;
    }

    .Descricao h1 {
        margin-top:20px;
    }

    .Descricao--qtarea {
        height:60px;
    }
    
    .Descricao--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }

    .Descricao--qt {
        line-height: 60px;
        font-size:20px;
    }

    .Descricao--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .Descricao--cancelButton {
        display:none;
    }

    .Descricao--cancelMobileButton {
        display:block;
    }

}

@media (max-width:450px) {
    header h1 {
        font-size: 1.5rem;
    }
    .menu-open {
        font-size: 1.5rem;
    }
}

@media (max-width:380px) {
    header h1 {
        font-size: 1rem;
    }
    .menu-open {
        font-size: 1.5rem;
    }
}

#img-logo {
    width: 50px;
}
