
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');


body {
  margin: 0;
  
}
.back-button {
  position: absolute;
  top: 10px; /* Ajuste a posição vertical conforme necessário */
  left: 10px; /* Ajuste a posição horizontal conforme necessário */
  color: #F0FFFF;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #363636;
}

.card {
  color: #F0FFFF;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: rgb(59, 41, 66);
  border-radius: 20px;
  box-shadow: 0px 10px 40px  rgb(27, 22, 29);
}
.card h1{
  color: orangered;
  font-family: 'Handjet', cursive;
	font-size: 2vw;
  font-weight: 900;
}

.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #696969;
  color: #FFC125;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #363636;
  box-sizing: border-box;
  outline: none;
}

.textfield > label {
  color: #F0FFFF;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #DAA520;
}
.btn-login{
	width: 80%;
	padding: 16px 0px;
	margin: 20px;
	border:none;
	border-radius: 10px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: black;
	background:#FFD700 ;
	cursor:pointer;
	box-shadow: 0px 10px 40px -12px #FFC125;
}

@media (max-width: 576px) {
  .main {
    width: 100%;
  }

  .card {
    width: 100%;
    max-width: none;
  }
}